body{
    color: #22262F !important;
}

.dd{
    background-image: url('../assets/img/dd.png') !important;
}
.hero-content-wrapper h5{
    font-family: 'Cormorant'; 
    padding-bottom: 80px;
    font-size: 40px;
    color: #1A1D32;
}
.hero-content-wrapper h2{
    font-family: 'Cormorant'; 
    padding-bottom: 80px;
    font-size: 25px;
    color: #1A1D32;
}
.hero-content-wrapper p{
    font-family: 'Cormorant'; 
    padding-bottom: 200px;
    font-size: 45px;
    color: #1A1D32;
}
.hero-content-wrapper h2{
    font-family: 'Cormorant'; 
    padding-bottom: 40px;
    color: #1A1D32;
}
.indexbutt{
    color: #1A1D32;
    background-color: #b3b3bb;
    width: 205px;
    height: 50px;
}
.yell{
    color: #DFC634;
}
.serv{
    font-size: 60px !important;
}
.serv1{
    font-size: 66px !important;
}
.hero-image{
    img{
        width: 850px;
    }
}
.hero-main-serv{
    padding-top: 200px;
}

.automatization{
    background: linear-gradient(45deg, #EDC900 0%, #FB7BA2 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nav4 li a{
    font-family: 'Montserrat', sans-serif;
    color: #495164 !important;
}
.hero-content-wrapper h2{
    color: #22262F;
}
.button{
    background: #EFEFEF !important;

}
.contact-form-wrapper, .section-title, .signup-form-wrapper, .navbar-brand{
    color: #495164 !important;
    .col-md-6{
        padding-bottom: 20px;
    }
    font-family: 'Roboto', sans-serif !important;
}
.signup-form{
    .lab{
        font-family: 'Open Sans', sans-serif !important;
    }
}

#contact{
    height: 100vh;
    background-image: url('../assets/img/userreg.png');
}
.formregigster{
    background-color: #F9F9F9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: none;
}

.logimg {
    height: 70vh;
}
.signup-form-wrapper p {
    a{
        color: #495164 !important;
    }
}
.signup{
    background-image: url('../assets/img/log.png');
    height: 100vh;
}
.signup-form-wrapper{
    background: #F7F7F7 !important;
    box-shadow: -14px 14px 28px rgba(222, 222, 222, 0.2), 14px -14px 28px rgba(222, 222, 222, 0.2), -14px -14px 28px rgba(255, 255, 255, 0.9), 14px 14px 35px rgba(222, 222, 222, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(222, 222, 222, 0.5);
    border-radius: 25px;
}
.yel{
    color: #f78c00;
}
.form-input, .submr{
    background-color: #EFEFEF !important;
    color:#1A1D32 !important;
}
.inpuu{
    background-color: #EFEFEF !important;
}
.reg h3{
    font-family: 'Open Sans', sans-serif !important;
}
.single-input1{
    padding-bottom: 25px;
}
.qust{
    font-size: 30px;
    font-family: 'Roboto' !important;
}
.q-b{
    background-color: #F2F2F2 !important;
    padding: 10px;
    box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
    border-radius: 10px;
    margin-bottom: 30px;
}
textarea{
    background-color: #EBEBEB !important;
}
img{
    width: 100px;
}
.header{
    background: none;
}
.res{
    background-color: #FFFFFF;
}
.svgg{
    width: 80px;
}
.sber{
    font-size: 40px;
}
.sber1{
    font-size: 20px;
}
.single-pricing1{
    background-color: #FAFAFA;
    box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
border-radius: 10px;
    a{
        color: #5C5E6F !important;
    }
}
.hello{
    background-color: #FAFAFA !important;
    box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
border-radius: 10px;
}
.sber2{
    font-size: 25px;
}
.sber3{
    font-size: 17px;
}
.sber35{
    font-size: 17px;
    color: #5C5E6F;
}
.svgblue{
    color: #0d6efd;
}
.compblock{
    background: #f0efef;
box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
border-radius: 10px;
}
.colortest{
    color: #1A1D32 !important;
}
.lead{
    line-height: 35px;
    font-weight: normal;
}